label,textarea{
  font-size: 30px;
}
input{
  font-size: 25px;
  padding: 5px;
}
form div{
  margin-bottom: 20px;

}
form{
  width: 500px;
  margin: auto;
  margin-top: 50px;
}
.submit{
  background-color: rgb(61, 61, 253);
  color: white;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}
.container{
  text-align: center;
}
.container .h1{
  font-size: 150px;
  background: linear-gradient(to right,blue,green, #f32170, 
                    #ff6b08, #cf23cf, #eedd44); 
            -webkit-text-fill-color: transparent; 
            -webkit-background-clip: text;
}
.container h4{
  font-size: 40px;
  font-weight: bold;
}
.container button {
  background-color: rgb(59, 59, 244);
  color: white; 
  margin-left: 20px;
}


/* services */

.ser-container{
  text-align: center;
  color: red;
}
.card-container{
  width: 1100px;
  margin: auto;
  background-color: #f6e4f6;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  padding: 20px;
}
.provider{
  display: grid;
  grid-template-columns: auto auto ;
  justify-content: space-between;
}
.card{
  border: 2px solid black;
  padding: 10px;
}
.card .img{
  text-align: center;
  margin-bottom: 20px;
}

table{
  background: white;
  box-shadow: gray 0px 7px 29px 0px;
  border-collapse: collapse;
  border-radius: 1rem;
  font-size: 2rem;
  
}

td{
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 3rem;
  width: 30rem;
}